<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <!-- <% const name = "Sandesh" %>
    <p><%= name %></p>            very usefull  when you build dynamic website  -->
    <%- include('./partials/nav.ejs')%>
    <div class="blogs content">
        <h2>All Blogs</h2>

<!-- EJS Template Code -->
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>

                <h3 class= "title"><%= blog.title %></h3>
                <p class= "snippet"><%= blog.snippet %></p>
                <% }) %>
                <% } else {%>
                    <p> There is no blog to display.....</p>
                    <% }%>
    </div>
    
</body>
<%- include('./partials/footer.ejs') %>
</html>